.card {
  height: 250px;
  text-shadow: 0 1px 3px rgba(0,0,0,0.6);
  background-size: cover !important;
  color: white;
  position: relative;
  border-radius: 5px;
  margin-bottom: 20px;
  &-user {
    position: absolute;
    right: 10px;
    top: 10px;
  }
  &-category {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 20px;
  }
  &-description h2 {
    font-size: 22px;
  }
  &-description p {
    font-size: 15px;
  }
  &-description {
    position: absolute;
    bottom: 10px;
    left: 10px;
  }
  &-link {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    z-index:2;
    background: black;
    opacity: 0;
    &:hover{
     opacity: 0.1;
    }
  }
}
